* {
  border-radius: 0;
}

a {
  color: red;
  text-decoration: none;
}

#nav-1 {
  width: 85px !important;
}

#nav-1 > ul {
  width: 85px;
}

#nav-1 > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
  color: white;
}

#active-1 {
  background-color: white !important;
}

#active-1 > a {
  color: red !important;
}

#nav-2 {
  margin: 20px;
}

#active-2 > a {
  color: black !important;
  padding-left: 3px;
  border-left: 2px solid black;
  font-weight: 500;
}

.card {
    width: 260px;
}

.breadcrumb-item {
    color: red;
}

.breadcrumb > .active {
    color: black;
}

.module {
    font-weight: 500;
}

.fw-500 {
  font-weight: 500;
}